[submodule "HERMES-percept"]
	path = HERMES-percept
	url = git@github.com:numbersletter/HERMES-percept.git
[submodule "HERMES-driver"]
	path = HERMES-driver
	url = git@github.com:numbersletter/HERMES-driver.git
